<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <h1>LOGIN</h1>
        <form action="/login" method="POST"> 
            <span>Usuário:</span>
            <input type="text" name="usuario" required><br>
            
            <span>Senha:</span>
            <input type="password" name="senha" required>
            
            <button type="submit">Validar</button>
        </form>
    </body>
</html> 