<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <h1>Bem vindo à Page 1</h1>
        <h2>Escolha a página que deseja ir:</h2>
        <ul>
            {{#pages}}
                <li><a href="{{&link}}">{{name}}</a></li>
            {{/pages}}
        </ul>
    </body>
</html>
