<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contador de Tarefas</title>
  </head>
  <body>
    <h1>Tarefas Cadastradas:</h1>
    <h2>Total de tarefas: {{contador}}</h2>
  </body>
</html>